<h1>UTenti registrati</h1>
<div class="row">
  <div class="col" *ngFor="let v of users">
    <div class="card" style="width: 18rem">
      <img
        src="https://png.pngtree.com/png-vector/20191009/ourlarge/pngtree-user-icon-png-image_1796659.jpg"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ v.nome }} {{ v.cognome }}</h5>
        <p class="card-text">
          {{ v.email }}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
