<div class="row row-cols-3">
  <div class="col"></div>
  <div class="col-12">
    <div class="card mt-5 text-center">
      <div>
        <img
          src="https://png.pngtree.com/png-vector/20191009/ourlarge/pngtree-user-icon-png-image_1796659.jpg"
          class="card-img-top img-stil stil img-fluid"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ user.nome }} {{ user.cognome }}</h5>
        <p class="card-text">
          Questa è la tua area personale! di seguito puoi vedere tutti i film
          che hai selezionato !
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<H3>Film Preferiti</H3>
<div class="row">
  <div class="col col-3 my-5" *ngFor="let f of favourite">
    <div class="card stil h-100">
      <img [src]="[f.movie.image]" class="card-img-top img-stil" />
      <div class="card-body">
        <h5 class="card-title">{{ f.movie.title }}</h5>

        <p class="card-text">
          {{ f.movie.plot }}
        </p>
        <p>{{ f.movie.year }}</p>
        <p>{{ f.movie.director }}</p>
      </div>
    </div>
  </div>
</div>
