<div class="row row-cols-3">
  <div class="col"></div>
  <div class="col">
    <div class="card">
      <img
        src="https://png.pngtree.com/png-vector/20191009/ourlarge/pngtree-user-icon-png-image_1796659.jpg"
        class="card-img-top img-stil stil"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ user.nome }} {{ user.cognome }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col col-3" *ngFor="let f of favourite">
    <div class="card stil h-100">
      <img [src]="[f.movie.image]" class="card-img-top img-stil" />
      <div class="card-body">
        <h5 class="card-title">{{ f.movie.title }}</h5>

        <p class="card-text">
          {{ f.movie.plot }}
        </p>
        <p>{{ f.movie.year }}</p>
        <p>{{ f.movie.director }}</p>
      </div>
    </div>
  </div>
</div>
