<footer>
  <div class="container-fluid">
    <div
      class="row py-5 mt-5 border-top bg-black text-light justify-content-around"
    >
      <div class="col">
        <h5 class="text-center">Section</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">About</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h5 class="text-center">Section</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">About</a>
          </li>
        </ul>
      </div>

      <div class="col">
        <h5 class="text-center">Section</h5>
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">Pricing</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">FAQs</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-secondary">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
